.converter {
    width: 550px;
    margin: 0 auto;
    text-align: center;
}

.converter .converterWrap {
    margin-top: 200px;
}

.converterLog {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.converterLog input {
    border: none;
    border-bottom: 1px solid #009688;
    outline: none;
    text-align: center;
}
.converterLog input:hover {
    border-bottom: 2px solid #00695c;
}
.converterLog input:focus-within {
    border-bottom: 2px solid #00695c;
}

.converterLog button {
    background-color: #009688;
    outline: none;
    border: none;
    width: 80px;
    height: 30px;
    color: white;
    border-radius: 3px;
}

.totalSum {
    display: block;
    margin-top: 15px;
    font-weight: 900;
    font-size: 26px;
}

.btn {
    cursor: pointer;
}